<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/add" method="post">
      <input type="text" name="name">
      <input type="text" name="sname">
      <input type="text" name="password">
        <button>Submit</button>
    </form>
    <table border="2" cellpadding="5">
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Password</th>
        <th>Delete</th>
      </tr>
      <% data.map((el,i)=>{ %>
        <tr>
            <td><%= el.name %></td>
            <td><%= el.sname %></td>
            <td><%= el.password %></td>
            <td><a href="/deleteData?delete=<%= el._id %>">Delete</a></td>
            <td><a href="/updataeData?delete=<%= el._id %>">Delete</a></td>
        </tr>
        

      <%
      })%>
    </table>
  </body>
</html>
